{% extends 'master' %}

{% block content %}
<div class="container">
  <h2>New user</h2>
  <br>

  {{ form.open({ action: 'PersonController.store' }) }}
    {{ csrfField }}
    <div class="input-field col s12">
      {{ form.label('name', 'Enter Name')}}
      {{ form.text('name', null, { class: 'validade' }) }}
    </div>
    <div class="input-field col s12">
      {{ form.label('lastname', 'Enter Lastname') }}
      {{ form.text('lastname', null, { class: 'validade' }) }}
    </div>
    <div class="input-field col s12">
      {{ form.label('age', 'Enter Age') }}
      {{ form.text('age', null, { class: 'validade' }) }}
    </div>

    {{ form.submit('+', 'create', { class: 'btn waves-effect waves-light' }) }}
  {{ form.close() }}
</div>
{% endblock %}
