{% extends 'master' %}

{% block content %}
<div class="container">
  <h2>Update user</h2>
  <br>

  {{ form.open({ action: 'PersonController.update',params: {id: person.id} }) }}
    {{ csrfField }}
      <div class="input-field col s12">
        {{ form.label('name', 'Enter Name')}}
        {{ form.text('name', person.name, { class: 'form-control' }) }}
        {{ form.hidden('id', person.id) }}
      </div>
        <div class="input-field col s12">
        {{ form.label('lastname', 'Enter Lastname') }}
        {{ form.text('lastname', person.lastname, { class: 'form-control' }) }}
      </div>
        <div class="input-field col s12">
        {{ form.label('age', 'Enter Age') }}
        {{ form.text('age', person.age, { class: 'form-control' }) }}
      </div>
    {{ form.submit('Update', 'update', { class: 'btn btn-primary btn-block' }) }}
  {{ form.close() }}
</div>
{% endblock %}
